<div>

	<table class="table table-striped table-condensed">
		<thead>
        	<th>Name</th>
        	<th></th>
		</thead>
		<tbody>
			<%@labs.each do |l| %>
			<tr>
				<td><%=l.name%></td>
				<td><%=link_to "Change Password","/lab/password/#{l.id}",:class=>"btn btn-info",method: :post%> </td>
			</tr>
			<%end%>
		</tbody>
	</table>

</div>

<div>
	<%= link_to "Add Lab", lab_register_path, :class=>"btn btn-primary", :id=>"add_lab", remote:true %>
</div>