<div class="span12">

 <div class="span9">

 <!-- Nav Tabs !-->
		<ul class="nav nav-tabs">
      <li class="nav-header" >STATUS</li>
      <li class="active"><a href="#stockassign" data-toggle="tab">Stock To be Assigned</a></li>
      <li><a href="#all_labs" data-toggle="tab">Labs</a></li>
  		<li><a href="#allstocks" data-toggle="tab">Department Stock</a></li>
      <li><a href="#transfer" data-toggle="tab">Transfer Stocks</a> </li>
    </ul>
	

	<!-- Tab Panes !-->
 	  <div class="tab-content">
      <div class="tab-pane fade  in active" id="stockassign">
        <%= render "stockassign" %>
      </div>
  	 <div class="tab-pane fade " id="all_labs">
  		  <%= render "labs" %>
  	 </div>
  	 <div class="tab-pane fade" id="allstocks">
  		<%= render "stocks" %>
 		 </div>
     <div class="tab-pane fade" id="transfer">
      <%= render "transfer" %>
     </div>
	 </div>
</div>
</div>
