<div class= "well" style="width:80%">
<table class="table">
	<thead>
		<th>Name</th>
		<th>Description</th>
		<th>Quantity</th>
		<th>Quantity Used</th>
		<th>Status</th>
	</thead>
	<tbody>
		<% @labstocks.each do|f| %>
			<%if f.status=="P"%>
			  <tr class="alert alert-success">
			<%elsif f.status=="R"%>
			  <tr class="alert alert-info">
			<%elsif f.status=="I"%>
			  <tr class="alert alert-warning">
			<%else%>
				  <tr class="alert alert-danger">
			<%end%>
				<td><%=f.office.name%></td>
				<td><%=f.quantity%></td>
				<td><%=f.quantity_used%></td>
				<%if f.status=="P"%>
			    <td>Perfect</td>
				<%elsif f.status=="R"%>
					<td>Needs Repair</td>
				<%elsif f.status=="I"%>
					<td>Irrepairable</td>
				<%else%>
				  <td>Write Off</td>
				<%end%>	  	
			</tr>
		<%end%>
	</tbody>
</table>
</div>